.preloader
    svg.preloader__svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='144px', height='144px', viewbox='0 0 144 144', enable-background='new 0 0 144 144', xml:space='preserve')
        circle(id="circleLarge", stroke-dasharray="439", stroke-dashoffset="439", transform="rotate(-90 72 72)", opacity='0.4', fill='none', stroke='#FFFFFF', stroke-width='4', stroke-miterlimit='10', enable-background='new    ', cx='72', cy='71.999', r='70')
        circle(id="circleMiddle", stroke-dasharray="345", stroke-dashoffset="345", transform="rotate(-90 72 72)", opacity='0.7', fill='none', stroke='#FFFFFF', stroke-width='3.8938', stroke-miterlimit='10', enable-background='new    ', cx='72', cy='72', r='55')
        circle(id="circleSmall", stroke-dasharray="251", stroke-dashoffset="251", transform="rotate(-90 72 72)", fill='none', stroke='#FFFFFF', stroke-width='4', stroke-miterlimit='10', cx='72', cy='72', r='40')
    span.preloader__percent 0%