.article__single {
  &:after {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background: rgba($black, .07);
    margin-top: 70px;
  }

  &:last-child:after {
    content: '';
    background: initial;
  }
}

.article__title {
  margin-left: 0;
}

.article__time {
  @include roboto();
  font-size: 16px;
  color: $green;
  margin-bottom: 20px;
  display: block;
}

.article__text {
  @include roboto();
  font-size: 16px;
  color: $darkBlue;
  line-height: 1.62;
}

