.button {
  @include roboto(medium);
  font-size: 16px;
}

.button__link {
  color: $white;
  text-decoration: none;
  border-radius: 4px;
  padding: 10px 26px;
  transition: all .3s;

  &_color {
    &_transparent{
      border: #fff solid 1px;
    }

    &_transparent:hover {
      background: $white;
      color: $green;
    }
  }
}