.flip__front,
.flip__back {
  position: absolute;
  backface-visibility: hidden;
  top: 49.9%;
  left: 49.9%;
  transform: translate(-50.1%, -50.1%);
  width: 100%;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 4px;
  overflow: hidden;
}

.flip__back {
  transform: translate(-50.1%, -50.1%) rotateY(180deg);
}

.flip {
  transform: translateX( -100% ) rotateY( -180deg );
}