.form__text {
  border: 1px solid transparent;
  height: 100%;
  width: 100%;
  @include roboto();
  font-size: 16px;
  color: $black;
  padding: 15px;
  outline: none;

  &_true:focus {
    border: 2px solid $green;
  }

  &_false:focus {
    border: 1px solid #f00;
  }

  &::placeholder {
    color: rgba($black, .5);
  }
}

.form__input-svg {
  width: 15px;
  height: 15px;
  fill: #c4cbcd;
}

.form__input-icon {
  height: 100%;
  display: flex;
  align-items: center;
  width: 45px;
  justify-content: center;
  background: #f0efe9;
}

.form__label {
  @include roboto();
  font-size: 16px;
  color: rgba($darkBlue, .8);
  margin-bottom: 20px;

  &_type_text {
    display: flex;
    align-items: center;
    height: 45px;
    border-radius: 4px;
    overflow: hidden;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
  }

  &_type_radio {
    margin-right: 30px;
  }
}

input[type='checkbox'] {
  opacity: 0;
}

input[type='checkbox']:checked + .form__checkbox-icon {
  background: $green;
  border: 0;

  & > .form__checkbox-svg {
    fill: $white;
  }
}

.form__checkbox-icon {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(128, 128, 128, 0.8);
  border-radius: 2px;
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
  background: #fff;
  margin-right: 10px;
}

.form__checkbox-svg {
  width: 12px;
  height: 12px;
  fill: none;
}

.form__col {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include roboto(bold);
  font-size: 16px;
  color: rgba($darkBlue, .8);
}

.form__row {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

input[type='radio'] {
  opacity: 0;
}

input[type='radio']:checked {

  & + .form__input-radio {
    color: $green;
  }

  & + .form__input-radio:after {
    width: 8px;
    height: 8px;
  }
}

.form__input-radio {
  position: relative;

  &:before {
    content: '';
    border: 1px solid #cecfcf;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: $white;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }

  &:after {
    content: '';
    background: $green;
    display: inline-block;
    width: 0;
    height: 0;
    border-radius: 50%;
    position: absolute;
    top: 9px;
    left: 7px;
  }
}