.hamburger__button {
  width: 40px;
  height: 5px;
  border-radius: 2px;
  background: $white;
  display: block;

  &:before {
    content: '';
    width: 40px;
    height: 5px;
    border-radius: 2px;
    background: $white;
    display: block;
    position: absolute;
    top: 15px;
  }

  &:after {
    content: '';
    width: 40px;
    height: 5px;
    border-radius: 2px;
    background: $white;
    display: block;
    position: absolute;
    top: 30px;
  }
}