.header {
  //background: url(../img/bg/header-bg.jpg);
  //@include cover();
  min-height: 650px;
  height: 100%;
  position: relative;
}

//.header__overlay {
//  &:before {
//    content: '';
//    background-color: rgba(1, 102, 114, .3);
//    position: absolute;
//    top: 0;
//    left: 0;
//    right: 0;
//    bottom: 0;
//
//    @include tablets() {
//      background-color: rgba(59, 102, 114, .3);
//    }
//  }
//}

.header__container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
  height: 100%;

  &_zindex_none {
    z-index: initial;
  }
}

.header__svg-icon {
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  fill: #fff;
  fill-opacity: 0.07;
  width: 100%;
  height: 100%;
  z-index: -1;

  &_type_middle {
    width: 356px;
    height: 230px;
  }
}

.header__socials {
  display: flex;
  position: absolute;
  top: 30px;
  left: 30px;
}

.header__user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header__hamburger {
  position: absolute;
  top: 45px;
  right: 30px;
}

.header__desc {
  color: $white;
}

.header__arrow-down-icon {
  width: 30px;
  height: 18px;
  fill: $white;
  fill-opacity: .7;

  &:hover {
    fill-opacity: 1;
  }
}

.header__arrow-down-link {
  display: block;
  position: absolute;
  bottom: 7.5vw;
}