.parallax {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;

  &:after {
    content: '';
    background-color: rgba(1, 102, 114, .3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.parallax__image {
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 100%;
  transform: translate(-50%,-50%);
}