.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../img/bg/preloader-bg.jpg);
  background-color: $green;
  @include cover();
  z-index: 2000;
  visibility: visible;
  opacity: 1;
  transition: all .5s ease;

  &.done {
    opacity: 0;
    visibility: hidden;

    & .preloader__svg, .preloader__percent {
      display: none;
    }
  }
}

.preloader__svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.preloader__percent {
  @include roboto(bold);
  font-size: 20px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}