.socials__icon {
  width: 30px;
  height: 25px;
  transition: all .5s;

  &_color_green {
    fill: rgba($green, .5);
  }

  &_color_green:hover {
    fill: $green;
  }

  &_color_white {
    fill: rgba($white, .5);
  }

  &_color_white:hover {
    fill: $white;
  }

  &_type_round {
    fill: $black;
    fill-opacity: .85;
    background: #aaadaf;
    border: 1px solid #696e71;
    border-radius: 50%;
    width: 36px;
    height: 36px;

    &:hover {
      fill: $white;
      fill-opacity: 1;
      background: $black;
      border: 0;
    }
  }
}

.socials__item {
  margin-right: 27px;

  &_type_round {
    margin-right: 10px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.socials__link {
  display: block;
}