.welcome {
  background-image: url(../img/bg/welcome-bg.jpg);
  @include cover;
  justify-content: center;
  align-items: center;
  position: relative;
  perspective: 800px;
}

.welcome__block {
  width: 100%;
  max-width: 379px;
  border-radius: 4px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
  transform-origin: right center;
}

.welcome__menu {
  display: flex;
  height: 45px;
  overflow: hidden;
}

.welcome__button {
  position: absolute;
  top: 25px;
  right: 20px;

  @include phones() {
    right: 50%;
    transform: translateX(50%);
  }
}

.welcome__copyright {
  position: absolute;
  bottom: 30px;
  text-align: center;
}