doctype html
html
    head
        meta(charset='utf-8')
        link(rel='stylesheet' href='./css/main.css')
        title Welcome to my portfolio
    body
        .warpper
            .section.welcome
                .welcome__auth-button
                    a(href='' class='welcome__auth-link') Авторизоваться
                .welcome-main
                    .welcome-main__content
                        .welcome-main__pic
                            img(src='' class='welcome-main__img' alt='img')
                        span(class='welcome-main__name') Владимир Астахов
                        span(class='welcome-main__desc') Личный сайт веб разработчика
                        ul(class='welcome-main__socials-list')
                            li(class='welcome-main__social-item')
                                a(href='' class='welcome-main__social-link')
                                    img(src='' class='welcome-main__social-icon')
                            li(class='welcome-main__social-item')
                                a(href='' class='welcome-main__social-link')
                                    img(src='' class='welcome-main__social-icon')
                            li(class='welcome-main__social-item')
                                a(href='' class='welcome-main__social-link')
                                    img(src='' class='welcome-main__social-icon')
                    .welcome-main__menu.menu
                        ul(class='menu__list')
                            li(class='menu__item')
                                a(href='' class='menu__link') Мои работы
                        ul(class='menu__list')
                            li(class='menu__item')
                                a(href='' class='menu__link') Обо мне
                        ul(class='menu__list')
                            li(class='menu__item')
                                a(href='' class='menu__link') Блог
                .copyright
                    span(class='copyright__text') &copy; Владимир Астахов | создано с любовью в LoftSchool | 2016