doctype html
html
    head
        meta(charset='utf-8')
        title Welcome to my portfolio
    body
        .wrapper
            header.header
                .container.header__container
                    ul.header__socials.socials.socials__block
                        li.socials__item
                            a(href='#').socials__link
                                svg.socials__icon.socials__icon_color_white
                                    use(xlink:href=require('../../../img/svg/sprite.svg') + '#' + 'vk')
                        li.socials__item
                            a(href='#').socials__link
                                svg.socials__icon.socials__icon_color_white
                                    use(xlink:href=require('../../../img/svg/sprite.svg') + '#' + 'github')
                        li.socials__item
                            a(href='#').socials__link
                                svg.socials__icon.socials__icon_color_white
                                    use(xlink:href=require('../../../img/svg/sprite.svg') + '#' + 'in')
                    a.header__hamburger-button(href='#')
                        span.hamburger.hamburger__button
                    .header__user.user-profile
                        .user-profile__pic
                            img(src=require('../../../img/public/welcome-user.png') alt='user').user-profile__img
                        span.header__title.title Блог
                        span.header__desc Статьи, которые я написал
            .content
                .triangle
                    .triangle__left
                    .triangle__right
                .container
                    aside.sidebar
                        nav.menu.sidebar__menu
                            ul.sidebar__list
                                li.sidebar__item
                                    a.sidebar__link(href='#') Самое важное в SASS
                                li.sidebar__item
                                    a.sidebar__link(href='#') Самое важное в SASS
                                li.sidebar__item
                                    a.sidebar__link(href='#') Самое важное в SASS
                                li.sidebar__item
                                    a.sidebar__link(href='#') Приёмы в вёрстке, без которых не обходится ни один сайт
                    .article.article__col
                        article.article__single
                            h2.title__subtitle.article__title Самое важное в SASS
                            span.article__time 20 декабря 2017
                            .article__text
                                p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                            .articel__code
                                code код
                        article.article__single
                            h2.title__subtitle.article__title Самое важное в SASS
                            span.article__time 20 декабря 2017
                            .article__text
                                p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
            footer.footer
                .container.footer__container
                    .footer__row
                        ul.footer__menu.menu.menu__list
                            li.menu__item.menu__item_type_fixed-margin
                                a(href='').menu__link.menu__link_color_white Мои работы
                            li().menu__item.menu__item_type_fixed-margin
                                a(href='').menu__link.menu__link_color_white Обо мне
                            li.menu__item.menu__item_type_fixed-margin
                                a(href='').menu__link.menu__link_color_white Блог
                            li.menu__item.menu__item_type_fixed-margin
                                a(href='').menu__link.menu__link_color_white Авторизация
                        ul.footer__socials.socials.socials__block
                            li.socials__item.socials__item_type_round
                                a(href='#').socials__link
                                    svg.socials__icon.socials__icon_type_round
                                        use(xlink:href=require('../../../img/svg/sprite.svg') + '#' + 'vk_round')
                            li.socials__item.socials__item_type_round
                                a(href='#').socials__link
                                    svg.socials__icon.socials__icon_type_round
                                        use(xlink:href=require('../../../img/svg/sprite.svg') + '#' + 'github_round')
                            li.socials__item.socials__item_type_round
                                a(href='#').socials__link
                                    svg.socials__icon.socials__icon_type_round
                                        use(xlink:href=require('../../../img/svg/sprite.svg') + '#' + 'in_round')
                    .footer__row
                        .footer__desc
                            p Я веб-разработчик из Новосибирска, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
                        .copyright.footer__copyright
                            p © Владимир Астахов | создано с любовью в LoftSchool | 2016