@keyframes hambruger-menu-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes hamburger-menu-line-1 {
  from {
    transform: rotate(0deg);
    width: 40px;
  }

  to  {
    transform: rotate(45deg);
    width: 42px;
  }
}

@keyframes hamburger-menu-line-2 {
  to  {
    background: transparent;
  }
}

@keyframes hamburger-menu-line-3 {
  from {
    transform: rotate(0deg);
    width: 40px;
  }

  to  {
    transform: rotate(-45deg);
    width: 42px;
  }
}